.navbar{
  background: rgb(196, 13, 13);
}
.column {
  float: right;
  width: 33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
p.row {
  content: "";
  clear: both;
  display: table;
  text-align :center;
}
.card{
  padding: 0;
  border: 0% 0% 0% 0%;
  margin-top: 10px;
/*  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB71pICwC-fN_TKxPrcFUL33o7DlDcvH-z4CQGU2vmX-_NnBfg); */
}

.card-body{
  padding: 0;
  border: 0% 0% 0% 0%;
  margin-top: 10px;
/*  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB71pICwC-fN_TKxPrcFUL33o7DlDcvH-z4CQGU2vmX-_NnBfg); */
}

body{
  margin:0;
  padding-top: 70px;
 /* background-image: url(https://images.unsplash.com/photo-1517816743773-6e0fd518b4a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60); */
height: 50%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}


#logo
{
    text-align: left;
}
*{
 text-decoration: none;
 outline: none;
}

.footer-main-div{
  width: 100%;
  height: auto;
  margin: auto;
  background: rgb(196, 13, 13);
  padding-top: 10px;
  padding-bottom: 0px;
}

.footer-social-icons{
  width: 100%;
  height: auto;
  width: auto;
}

.footer-social-icons ul{
  margin: 0px;
  padding: 0px;
  text-align: right;
}

.footer-social-icons ul li{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0px 20px;
  border-radius: 50%;
  background: black;
}

.footer-social-icons ul li:hover{
  background: white;
  color: black;
}

.footer-social-icons ul li a{
  color: #fff;
  font-size: 25px;
  display: block;
  text-align: center;
}
.footer-social-icons ul li a:hover{
  color: black;
}

.footer-social-icons ul li a i{
  line-height: 50px;
}

.footer-social-icons ul li a i:hover{
 color: black;
}


.footer-bottom{
  width: 100;
  height: auto;
  margin: auto;
  background: rgb(196, 13, 13);
  padding-top: 15px;
}
.footer-bottom{
  padding: 2px 2px;
  font-family: arial;
  font-size: 14px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
}

.footer-bottom p a{
  color: #fff;
}
.footer-bottom p a:hover{
  font-size: 15px;
  text-align: right;
}

.bg-dark{
  color:white;
}

.parallax-one-top-part{
  width: 100%;
  height: calc(100px - 6px);
  /* border-bottom: 6px solid #eb7893; */
  overflow: hidden;
  background-image: url("bg2.4.jpg");
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.content-part{
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 1200px;
  padding: 40px 0px;
}

.content-part h1{
  font-family: "Open Sans";
  font-size: 50px;
  color: black;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
  margin: 0px;
}

.content-part p{
  font-family: "Open Sans";
  font-size: 20px;
  color: #777777;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-align: center;
  margin: 0px;
  line-height: 24px;
}

.parallax-one-bottom-part{
  width: 100%;
  height: calc(100px - 6px);
  /* border-bottom: 6px solid #eb7893; */
  overflow: hidden;
  background-image: url("bg2.4.jpg");
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}


.parallax-two-top-part{
  width: 100%;
  height: calc(100px - 6px);
  /* border-bottom: 6px solid #eb7893; */
  overflow: hidden;
  background-image: url("bg2.4.jpg");
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.content-two-part{
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 1200px;
  padding: 40px 0px;
}

.content-two-part h1{
  font-family: "Open Sans";
  font-size: 50px;
  color: black;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
  margin: 0px;
}

.content-two-part p{
  font-family: "Open Sans";
  font-size: 15px;
  color: #777777;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-align: center;
  margin: 0px;
  line-height: 24px;
}

.parallax-two-bottom-part{
  width: 100%;
  height: calc(100px - 6px);
  overflow: hidden;
  background-image: url("bg2.4.jpg");
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}


.parallax-two-top-part{
  width: 100%;
  height: calc(100px - 6px);
  /* border-bottom: 6px solid #eb7893; */
  overflow: hidden;
  background-image: url("bg2.4.jpg");
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.content-two-part{
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 1200px;
  padding: 40px 0px;
}

.content-two-part h1{
  font-family: "Open Sans";
  font-size: 50px;
  color: black;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
  margin: 0px;
}

.content-two-part p{
  font-family: "Open Sans";
  font-size: 20px;
  color: #777777;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-align: center;
  margin: 0px;
  line-height: 24px;
}

.parallax-two-bottom-part{
  width: 100%;
  height: calc(100px - 6px);
  overflow: hidden;
  background-image: url("bg2.4.jpg");
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}


.parallax-three-top-part{
  width: 100%;
  height: calc(100px - 6px);
  /* border-bottom: 6px solid #eb7893; */
  overflow: hidden;
  background-image: url("bg2.4.jpg");
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.content-three-part{
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 1200px;
  padding: 40px 0px;
  background: #dbd7d2  ;
}

.content-three-part h1{
  font-family: "Open Sans";
  font-size: 50px;
  color: black;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
  margin: 0px;
}

.parallax-three-bottom-part{
  width: 100%;
  height: calc(100px - 6px);
  overflow: hidden;
  background-image: url("bg2.4.jpg");
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.parallax-four-top-part{
  width: 100%;
  height: calc(100px - 6px);
  overflow: hidden;
  background-image: url("bg2.4.jpg");
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.content-four-part{
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 1200px;
  padding: 40px 0px;
}

.content-four-part h1{
  font-family: "Open Sans";
  font-size: 50px;
  color: black;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
  margin: 0px;
}

.content-four-part p{
  font-family: "Open Sans";
  font-size: 20px;
  color: #777777;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-align: center;
  margin: 0px;
  line-height: 24px;
}

.parallax-four-bottom-part{
  width: 100%;
  height: calc(100px - 6px);
  overflow: hidden;
  background-image: url("bg2.4.jpg");
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}


.thead{
  height: 300px;
}

.imgcard{
  border-radius: 7.5%;
  height: 500px;
  width: 500px;
}

.flip-card {
margin-top: 20px;
margin-bottom: 20px;
  background-color: transparent;
  width: 300px;
  height: 300px;
  /*border: 1px solid #f1f1f1;*/
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  /* width: 100%;*/
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
   width: 100%;
  height: 300px;
  backface-visibility: hidden;
  margin-top: 10px;
}
.flip-card-front {
  background-color: #f4f0ec;
  color: black;
  border-radius: 10%;
}
.flip-card-back {
  background-color: #f4f0ec;
  color: white;
  transform: rotateY(180deg);
  /* width: 100%;*/
  height: 300px;
  border-radius: 10%;
}

/* -----------------signup-------------------- */

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
}
/* ------------------signup end---------------- */